{% extends 'layout.twig' %}

{% block body %}

    <div class="container">
        <h1>Editer un article</h1>
        <div class="row">
            <form class="col s12" action="{{ path('blog.update', {'id': article.id}) }}" method="post">
                <div class="row">
                    <div class="input-field col s4">
                        <input id="name" type="text" name="name" value="{{ article.name }}" class="validate">
                        <label for="name">Titre</label>
                    </div>
                    <div class="input-field col s4">
                        <input id="slug" type="text" name="slug" value="{{ article.slug }}" class="validate">
                        <label for="slug">Slug</label>
                    </div>
                    <div class="input-field col s4">
                        <select name="id_category">
                            {% for category in categories %}
                                <option value="{{ category.id }}" {{ article.category.id == category.id ? 'selected' : '' }}>{{ category.name }}</option>
                            {% endfor %}
                        </select>
                        <label for="id_category">Catégorie :</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <textarea class="materialize-textarea" name="content"></textarea>
                        <label for="content">Content</label>
                    </div>
                </div>
                <button class="waves-effect waves-light btn" type="submit">Ajouter</button>
            </form>
        </div>
    </div>

{% endblock %}
